<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ base_url() }}/img/ramagro.ico">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/bootstrap.min.css">
		<!-- Toastr css -->
		<link rel="stylesheet" href="{{ base_url() }}/css/toastr.min.css">
		<!-- Mis estilos css -->
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/estilosPrint.css">
		<title>{{ titulo }}</title>

		<style type="text/css">
			table {
				font-size: 0.875em;
			}
		</style>
	</head>
	<body>
		<header>
			<div class="container-fluid">
				<div class="row justify-content-end">
					<div class="col-xs-3">
						<button id="btnImprimir" type="button" class="btn btn-primary btn-sm mr-2">Imprimir</button>
						<button id="btnDescargar" class="btn btn-secondary btn-sm mr-2">Descargar archivo Afip</button>
						<button id="btnVolver" type="button" class="btn btn-light btn-sm mr-3">Volver</button>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<hr>
					</div>
				</div>
			</div>
		</header>

		<div class="container-fluid">
			<div class="row">
				<div class="col mb-0 mt-2">
					<h3 class="text-center font-weight-bold mb-0">Informe Cartas de Porte</h3>
				</div>
			</div> {# end row #}

			<div class="row">
				<div class="col">
					<hr>
				</div>
			</div>

			<div class="row">
				<div class="col-4 pl-4">
					<p class="data">Desde: {{ desde }} - Hasta: {{ hasta }}</p>
				</div>
				<div class="col-4 pl-1">
					<p class="data">Filtro/s: {{ filtros }}</p>
				</div>
				<div class="col-4 pr-4">
					<p class="text-right data">Fecha emisión: {{ fecha }}</p>
				</div>
			</div>

			<div class="row mt-0">
				<div class="col">
					<table class="table table-sm table-striped table-hover">
					  	<thead class="thead-dark">
					    	<tr>
								<th scope="col">Fecha carga</th>
								<th scope="col">Tipo CP</th>
							  	<th scope="col" class="cellRight">Número</th>
							  	<th scope="col" class="cellRight">Núm. CEE</th>
							  	<th scope="col" class="cellRight">Núm. CTG</th>
							  	<th scope="col">Titular</th>
							  	<th scope="col">Procedencia</th>
							  	<th scope="col">Cereal</th>
							  	<th scope="col">Cosecha</th>
							  	<th scope="col" class="cellRight">Kgs. Neto Carga</th>
							  	<th scope="col">Destino</th>
							  	<th scope="col">Establecim.</th>
							  	<th scope="col">Loc. Destino</th>
							  	<th scope="col" class="cellRight">Kgs. Neto Desc.</th>
							</tr>
						</thead>
						<tbody>
							{% for cp in cartasporte %}
								<tr>
									<td>{{ cp.FechaCarga|date("d/m/Y") }}</td>
									<td>{{ tiposcps[cp.TipoCP] }}</td>
									<td class="cellRight">{{ cp.NroCartaPorte }}</td>
									<td class="cellRight">{{ cp.NroCEE }}</td>
									<td class="cellRight">{{ cp.NroCTG }}</td>
									<td>{{ cp.Titular }}</td>
									<td>{{ cp.LocProcedencia }}</td>
									<td>{{ cp.Cereal }}</td>
									<td>{{ cp.Cosecha }}</td>
									<td class="cellRight">{{ cp.KgsNetoCarga|number_format(2, ',', '.') }}</td>
									<td>{{ cp.Destino }}</td>
									<td>{{ cp.Establecim }}</td>
									<td>{{ cp.LocDestino }}</td>
									<td class="cellRight">{{ cp.KgsNetoDescarga|number_format(2, ',', '.') }}</td>
									
								</tr>
							{% endfor %}
						    <tr>
								<td></td><td></td><td></td><td></td><td></td>
								<td></td><td></td><td></td><td></td><td></td>
								<td></td><td></td><td></td><td></td>  {# 14 Lineas de abajo #}
							</tr>

						</tbody>
					</table>
				</div>
			</div>

		</div>  {# end container #}

		<script src="{{ base_url() }}/js/jquery-3.3.1.min.js"></script>
		<script src="{{ base_url() }}/js/toastr.min.js"></script>

		<script type="text/javascript">
			var _paramsAfipFile = "{{ urlarchivo }}";
			var _pathMakeAfipFile = "{{ path_for('cartadeporte.archivoafip') }}";

		</script>

		<script src="{{ base_url() }}/js-app/cartadeporte/informe_print.js?ver=0.0.7"></script>

	</body>
</html>
