<!DOCTYPE html>
<html lang="en">
	<head>
	    <!-- Para evitar el cache del navegador -->
		<meta http-equiv="Expires" content="0">
		<meta http-equiv="Last-Modified" content="0">
		<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
		<meta http-equiv="Pragma" content="no-cache">
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="icon" type="image/png" href="{{ base_url() }}/img/ramagro.ico">
	    <!-- Bootstrap CSS (bootswatch theme Cosmo) -->
	    <link rel="stylesheet" href="{{ base_url() }}/css/bootstrap.min.css">
		<!-- Otros estilos -->
		<link rel="stylesheet" href="{{ base_url() }}/css/all.css">
		<link rel="stylesheet" href="{{ base_url() }}/css/table-scroll.css?ver_1.0.4">
		<!-- Mis estilos css -->
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/misEstilos.css?ver_1.0.3">

		<title>{{ title }}</title>

		<style type="text/css">
			html, body{
			  margin:0 !important;
			  padding:0 !important;
			}
			#tablaBuscar {
				margin: 5px 20px;
				padding-right: 25px;
				font-size: 80%;
			}
			#tablaBuscar tr:hover {
				cursor: pointer;
			}
			.filtros label {
				font-size: 80%;
				padding-top: 0px;
			}
			.custom-radio {
				margin-top: 4px!important;
			}
			#btnCancel {
				padding: auto 40px !important;
			}
		</style>

	</head>
	<body>
		<div class="container-fluid" id="rowTable">
			<div class="row justify-content-center">
    			<div class="col">
    				<h3 class="bg-secondary shadow p-3 mb-3 rounded mt-2 font-weight-bold text-right text-white ">Buscar Firma</h3>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col d-inline-flex mt-2 mb-0 filtros" >
					<div class="custom-control custom-radio custom-control-inline ml-4">
					  <input type="radio" id="nomb" name="radios" class="custom-control-input" checked>
					  <label class="custom-control-label" for="nomb">Nombre</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline ml-2">
					  <input type="radio" id="fant" name="radios" class="custom-control-input">
					  <label class="custom-control-label" for="fant">Nom. Fantasía</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline ml-2">
					  <input type="radio" id="iden" name="radios" class="custom-control-input">
					  <label class="custom-control-label" for="iden">Id</label>
					</div>

    				<input id="filter" class="form-control form-control-sm w-50 ml-4" type="text" placeholder="Buscar por..." autofocus>
  				</div>
			</div>
			<br />
			<div class="row">
				<div class="col">
					<table class="table table-sm table-hover table-scroll small-first-col" id="tablaBuscar">
		                <thead class="thead-dark">
		                  <tr>
		                    <th scope="col" class="cellRight">Id</th>
		                    <th scope="col">Nombre</th>
		                    <th scope="col">Nomb. Fantasía</th>
		                    <th scope="col">Dirección</th>
		                    <th scope="col">Localidad</th>
		                  </tr>
		                </thead>
		                <tbody class="body-half-screen">
		                    {% for firma in firmas %}
		    					<tr>
		        				    <td id="iden" class="cellRight">{{ firma.id|trim }}</td>
		      					    <td id="nomb" class="filter-cell">{{ firma.Nombre }}</td>
		      					    <td id="fant">{{ firma.Fantasia }}</td>
		      					    <td>{{ firma.Direccion }}</td>
		                            <td>{{ firma.Localidad }}</td>
		                        </tr>
		                    {% endfor %}
		                </tbody>
		            </table>
				</div>    {# /col #}
			</div>    {# /row #}

			<footer class="fixed-bottom">
				<div class="row">
					<div class="col">
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="col mb-4 mr-4">
			  			<button id="btnCancel" type="button" class="btn btn-info btn-sm float-right">Cancelar</button>
				  	</div>
				</div>
			</footer>

    	</div>    {# /container #}

		<script src="{{ base_url() }}/js/jquery-3.3.1.min.js"></script>
		<script src="{{ base_url() }}/js/bootstrap.min.js"></script>
		<script src="{{ base_url() }}/js/jquery.tableFilter.js"></script>

		<script type="text/javascript">
			var _idFirma = 0, 
			    _cerrar = false;

			$(document).ready(function(){

				// Filtrado de tabla Clientes	
				$('#rowTable').tableFilter({ tableID:    '#tablaBuscar', 
	                                         filterID:   '#filter',
	                                         filterCell: '.filter-cell',
	                                         noResults:  'No se encontraron resultados.',
					                         autofocus:  true });

				// Evento click para seleccionar y redireccionar 
				$('#tablaBuscar tr').on('click', function(){
	  				_idFirma = $(this).find('td:first').text();
		  			// Cierra el popup y vuelve a ventana de firma
		  			_cerrar = true;
		  			//console.log('Cierra la ventana !!');
				});

				// Click en radio buttons
				$('input[type=radio]').click(function (e) {
					const id = $(this).attr('id');
					const names = ['nomb', 'fant', 'iden'];

					names.forEach(function( elem ) {		// Remove class a todos
						$('td#' + elem).removeClass('filter-cell');
						//console.log('td#' + elem);
					});

					$('td#' + id).addClass('filter-cell');		//Agrego class al id seleccionado
					$('input#filter').val('').focus();			// Vacio input y doy foco
				});

				// Click en boton Cancelar. Cierra la ventana
				$('#btnCancel').click(function (e) {
					window.close();
				});

			});
		</script>

    </body>
</html>
